# **Integrasi Data**

In [1]:
import pandas as pd

df1 = pd.read_csv('jenis_kekerasan.csv')
df2 = pd.read_csv('status_pekerjaan.csv')
df3 = pd.read_csv('tempat_kejadian.csv')

df1 = df1.rename(columns={'jumlah_korban': 'korban_jenis'})
df2 = df2.rename(columns={'jumlah_korban': 'korban_pekerjaan'})
df3 = df3.rename(columns={'jumlah_korban': 'korban_tkp'})

merged = pd.merge(df1, df2, on=['jenis_kelamin_korban', 'tahun'], how='outer')
merged = pd.merge(merged, df3, on=['jenis_kelamin_korban', 'tahun'], how='outer')

merged[['korban_jenis', 'korban_pekerjaan', 'korban_tkp']] = merged[[
    'korban_jenis', 'korban_pekerjaan', 'korban_tkp']].fillna(0)

merged['jumlah_korban_total'] = merged['korban_jenis'] + merged['korban_pekerjaan'] + merged['korban_tkp']

print(merged.head())

  jenis_kekerasan jenis_kelamin_korban  korban_jenis  tahun  \
0           FISIK          LAKI - LAKI           0.0   2018
1           FISIK          LAKI - LAKI           0.0   2018
2           FISIK          LAKI - LAKI           0.0   2018
3           FISIK          LAKI - LAKI           0.0   2018
4           FISIK          LAKI - LAKI           0.0   2018

    status_pekerjaan  korban_pekerjaan      tempat_kejadian_perkara  \
0  PELAJAR/MAHASISWA                52  TEMPAT TINGGAL/RUMAH TANGGA
1  PELAJAR/MAHASISWA                52                 TEMPAT KERJA
2  PELAJAR/MAHASISWA                52                  TEMPAT UMUM
3  PELAJAR/MAHASISWA                52         FASILITAS PENDIDIKAN
4  PELAJAR/MAHASISWA                52              FASILITAS MEDIS

   korban_tkp  jumlah_korban_total
0        14.0                 66.0
1         8.0                 60.0
2         0.0                 52.0
3        13.0                 65.0
4         0.0                 52.0

# ***Group By***

In [2]:
summary = merged.groupby(['jenis_kelamin_korban', 'tahun'])['jumlah_korban_total'].sum().reset_index()
print(summary)

  jenis_kelamin_korban  tahun  jumlah_korban_total
0          LAKI - LAKI   2018               5408.0
1          LAKI - LAKI   2019              11200.0
2          LAKI - LAKI   2020               5496.0
3          LAKI - LAKI   2021                 44.0
4          LAKI - LAKI   2023               7880.0
5            PEREMPUAN   2018             157688.0
6            PEREMPUAN   2019              27112.0
7            PEREMPUAN   2020              23752.0
8            PEREMPUAN   2021                273.0
9            PEREMPUAN   2023              45192.0